nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        span{
            color: #b7adee;
        }
    }
    
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        border: 1px solid rgb(65,65,65);
        padding: 0.75rem;
        transition: all 0.3s ease;
        &:hover{
            background:#b7adee ;
            color:white;
            
        }
    }
}