
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3{
    color: rgb(32, 31, 31)
}
h3,h4{
    font-weight: 300;
    color: rgb(100, 100, 100);
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav"